.Footer-container{
    /* border: 2px solid black; */
    height: 80px;
    background-color: black;
    /* padding: 0px 20px; */
}

.footer-display-box{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.social-box-container-1{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    width: 100%;
}

.copyright-tag{
    /* border: 2px solid yellow; */
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

.copyright-tag-text{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}